*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.spl
_*_.tex
auto/
*.run.xml
*.bcf
main.pdf
_region_.*
_minted*
